OPEN_ROUTER_KEY=여기에 자신의 OpenRouter API 키 입력
LAW_API_KEY=여기에 자신의 LAW_API_KEY API 키 입력
LAW_SEARCH_URL=https://www.law.go.kr/DRF/lawSearch.do
LAW_SERVICE_URL=https://www.law.go.kr/DRF/lawService.do
EMBEDDING_MODEL=openai/text-embedding-3-small
CHROMA_PERSIST_DIR=./chroma_db
CHROMA_COLLECTION_NAME=labor_law
